/* RESET BÁSICO */
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.app {
  height: 100%;
}

body {
  font-family: system-ui, sans-serif;
  background: #f4f6fb;
}

/* CONTENEDOR */
.page {
  min-height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background: linear-gradient(135deg, #667eea, #764ba2);
}


.card {
  width: 100%;
  max-width: 720px;
  background: #fff;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 10px 30px rgba(0,0,0,.08);
}


/* TÍTULOS */
.card h1 {
  margin: 0 0 8px;
  font-size: 1.8rem;
  color: #161616;
  text-align: center;
}

.card h2 {
  color: #777676;
}

.subtitle {
  text-align: center;
  color: #545252;
  margin-bottom: 24px;
}

/* FORMULARIO */
.form {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

.form input {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.form button {
  padding: 12px 16px;
  border-radius: 10px;
  border: none;
  background: #4f46e5;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.form button:hover {
  background: #4338ca;
}

/* LISTA */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.groupBtn {
  width: 100%;
  padding: 14px;
  margin-bottom: 10px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  background: #7799ba;
  cursor: pointer;
  color: #2a2929;
  font-size: 1rem;
  text-align: left;
}

.groupBtn:hover {
  background: #eef2ff;
}

/* VACÍO */
.empty {
  text-align: center;
  color: #999;
}

/* RESPONSIVE MOBILE */
@media (max-width: 480px) {
  .form {
    flex-direction: column;
  }

  .card {
    padding: 20px;
  }
}
